/* 首页header 大小调整 */
#page-header.full_page{
    height: 30vh;
}

/* 文章标题样式 */
#article-container.post-content h1 {
  padding-bottom: 0.4rem;
  font-size: 2.2rem;
  line-height: 1.3;
  position: relative;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}


#article-container.post-content h1::before {
  content: " ";
  display: block;
  background-color: #23a9f2;
  width: 5px;
  height: 28px;
  position: absolute;
  top: 10px;
  left: -15px;
  border-radius: 2px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}


#CrawlerTitle::before {
  background-color: #FFFFFF;
}


#article-container.post-content h2 {
  font-size: 1.75rem;
  line-height: 1.225;
  margin: 35px 0 15px;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #ddd;
  position: relative;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
  
#article-container.post-content h2::before {
  content: " ";
  display: block;
  background-color: #ffbd2e;
  width: 5px;
  height: 20px;
  position: absolute;
  top: 8px;
  left: -15px;
  border-radius: 2px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
  
#article-container.post-content h3 {
  font-size: 1.4rem;
  line-height: 1.43;
  margin: 20px 0 7px;
  position: relative;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  /* text-decoration: underline;
  text-decoration-color: #27c93f;
  text-decoration-thickness: 5px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); */
}
  
#article-container.post-content h3::after {
  content: " ";
  display: block;
  background-color: #27c93f;
  width: 5px;
  height: 16px;
  position: absolute;
  top: 9px;
  left: -15px;
  border-radius: 2px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
  
/* #article-container .post-content h4 {
  font-size: 1.2rem;
}

#article-container .post-content h4::after {
  content: " ";
  display: block;
  background-color: #ff5f56;
  width: 5px;
  height: 10px;
  position: absolute;
  top: 8px;
  left: -15px;
  border-radius: 2px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
} */

#article-container.post-content blockquote {
  /* border-left: 4px solid #42b983;
  padding: 10px 15px;
  color: #777;
  background-color: rgba(66, 185, 131, 0.1); */
  border-left: 3px solid #ca9b52;
  padding: 10px 15px;
  color: #5b5b5b;
  background-color: #efefef;
  border-radius: 3px;
  font-size: 13px;
}

/* 无序列表 */
#article-container ul > li:not(.tab):before {
  border: 0.1em solid black;
  background: white;
}

#article-container ul > li:not(.tab)::before {
  top: 1em;
  width: 0.45em;
  height: 0.45em;
  border-radius: 0.45em;
  content: "";
  line-height: 0.42em;
}

#article-container ol > li::before {
  margin-top: 0.8em;
  width: 1.45em;
  height: 1.45em;
  border-radius: 0.725em;
  content: counter(li);
  counter-increment: li 1;
  text-align: center;
  font-size: 0.86em;
  line-height: 1.45em;
}

#article-container ol li::before, #article-container ul li::before {
  position: absolute;
  top: 0px;
  left: 0px;
  background: black;
  color: rgb(255, 255, 255);
  transition: all 0.3s ease-out 0s;
}

